{{ if .IsTranslated }}
{{ range .Translations }}
{{ if eq .Lang "en" }}
<div class="hx:overflow-x-auto hx:mt-6 hx:flex hx:rounded-lg hx:border hx:py-2 hx:ltr:pr-4 hx:rtl:pl-4 hx:contrast-more:border-current hx:contrast-more:dark:border-current hx:border-blue-200 hx:bg-blue-100 hx:text-blue-900 hx:dark:border-blue-200/30 hx:dark:bg-blue-900/30 hx:dark:text-blue-200">
  <div class="hx:ltr:pl-3 hx:ltr:pr-2 hx:rtl:pr-3 hx:rtl:pl-2"><div class="hx:select-none hx:text-xl" style="font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';">🌐</div></div>
  <div class="hx:w-full hx:min-w-0 hx:leading-7">
    <div class="hx:mt-6 hx:leading-7 hx:first:mt-0">The content of this blog is also available in English. I use an LLM for initial translation and then manually review it. Change the language at the bottom of the blog, or simply click <a href="{{ .RelPermalink }}">this link</a>.</div>
  </div>
</div>
{{ end }}
{{ if eq .Lang "ko" }}
<div class="hx:overflow-x-auto hx:mt-6 hx:flex hx:rounded-lg hx:border hx:py-2 hx:ltr:pr-4 hx:rtl:pl-4 hx:contrast-more:border-current hx:contrast-more:dark:border-current hx:border-blue-200 hx:bg-blue-100 hx:text-blue-900 hx:dark:border-blue-200/30 hx:dark:bg-blue-900/30 hx:dark:text-blue-200">
  <div class="hx:ltr:pl-3 hx:ltr:pr-2 hx:rtl:pr-3 hx:rtl:pl-2"><div class="hx:select-none hx:text-xl" style="font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';">🌐</div></div>
  <div class="hx:w-full hx:min-w-0 hx:leading-7">
    <div class="hx:mt-6 hx:leading-7 hx:first:mt-0">한국어로 언어를 변경하려면, 페이지 하단에서 변경하거나 <a href="{{ .RelPermalink }}">여기를 클릭하세요</a>.</div>
  </div>
</div>
{{ end }}
{{ end }}
{{ end }}